#col2 {
  display: grid;
  grid-row: 1 / -1;
  grid-template-rows: repeat(12, 64px);
  background-color: blue;
}

#block-2-Lblue-x3 {
  display: grid;
  grid-template-areas:
    "Lblue"
    "Lblue"
    "Lblue";
  grid-row: 1 / span 3;
  background-color: lightblue;
}
#block-2-green-x2 {
  display: grid;
  grid-template-areas:
    "green"
    "green";
  grid-row: 4 / span 2;
  background-color: green;
}
#block-2-blue-x2 {
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  grid-row: 6 / span 2;
  background-color: blue;
}
#block-2-yellow-x1 {
  display: grid;
  grid-template-areas: "yell";
  grid-row: 8 / span 1;
  background-color: yellow;
}
#block-2-green-x1 {
  display: grid;
  grid-template-areas: "green";
  grid-row: 9 / span 1;
  background-color: green;
}
#block-2-Lblue-x1 {
  display: grid;
  grid-template-areas: "lb";
  grid-row: 10 / span 1;
  background-color: lightblue;
}
#block-2-org-x2 {
  display: grid;
  grid-template-areas:
    "orange"
    "orange";
  grid-row: 11 / span 2;
  background-color: orange;
}
