#col4 {
  display: grid;
  grid-row: 1 / -1;
  grid-template-rows: repeat(12, 64px);
  background-color: yellow;
}

#block-4-yellow-x1a {
  grid-row: 1 / 2;
  background-color: yellow;
  border: 1px solid black;
}
#block-4-blue-x1 {
  grid-row: 2 / 3;
  background-color: blue;
  border: 1px solid black;
}
#block-4-fuch-x1a {
  grid-row: 3 / 4;
  background-color: fuchsia;
  border: 1px solid black;
}
#block-4-yellow-x2 {
  display: grid;
  grid-template-areas:
    "yellow"
    "yellow";
  grid-row: 4 / span 2;
  background-color: yellow;
  border: 1px solid black;
}
#block-4-fuch-x1b {
  grid-row: 6 / 7;
  background-color: fuchsia;
  border: 1px solid black;
}
#block-4-Lblue-x1a {
  grid-row: 7 / 8;
  background-color: blue;
  border: 1px solid black;
}
#block-4-yellow-x1 {
  grid-row: 8 / 9;
  background-color: yellow;
  border: 1px solid black;
}
#block-4-Lblue-x1b {
  grid-row: 9 / 10;
  background-color: lightblue;
  border: 1px solid black;
}
#block-4-yellow-x1b {
  grid-row: 10 / 11;
  background-color: yellow;
  border: 1px solid black;
}
#block-4-blue-x2 {
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  grid-row: 11 / -1;
  background-color: blue;
  border: 1px solid black;
}
