#col5 {
  display: grid;
  grid-row: 1 / -1;
  grid-template-rows: repeat(12, 64px);
  background-color: orange;
}

#block-5-yellow-x1 {
  display: grid;
  grid-template-areas: "blue";
  grid-row: 1 / 2;
  background-color: yellow;
}
#block-5-fuch-x2a {
  grid-row: 2 / span 2;
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  background-color: fuchsia;
}
#block-5-yellow-x2a {
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  grid-row: 4 / span 2;
  background-color: yellow;
}
#block-5-fuch-x1 {
  display: grid;
  grid-template-areas: "blue";
  grid-row: 6 / 7;
  background-color: fuchsia;
}
#block-5-Lblue-x1 {
  display: grid;
  grid-template-areas: "blue";
  grid-row: 7/ 8;
  background-color: lightblue;
}
#block-5-fuch-x2b {
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  grid-row: 8 / span 2;
  background-color: fuchsia;
}
#block-5-yellow-x2b {
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  grid-row: 10 / span 2;
  background-color: yellow;
}
#block-5-blue-x1 {
  display: grid;
  grid-template-areas: "blue";
  grid-row: 12 / -1;
  background-color: blue;
}
