#col7 {
  display: grid;
  grid-row: 1 / -1;
  grid-template-rows: repeat(12, 64px);
  background-color: fuchsia;
}

#block-7-yellow-x1 {
  display: grid;
  grid-template-areas: "blue";
  grid-row: 1/2;
  background-color: yellow;
}
#block-7-green-x3 {
  display: grid;
  grid-template-areas:
    "blue"
    "blue"
    "blue";
  grid-row: 2 / span 3;
  background-color: green;
}
#block-7-org-x2a {
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  grid-row: 5 / span 2;
  background-color: orange;
}
#block-7-blue-x4 {
  display: grid;
  grid-template-areas:
    "blue"
    "blue"
    "blue"
    "blue";
  grid-row: 7 / span 4;
  background-color: blue;
}
#block-7-org-x2b {
  display: grid;
  grid-template-areas:
    "blue"
    "blue";
  grid-row: 11/ -1;
  background-color: orange;
}
